.header{
    position: fixed;
    top: 0px;
    left: 300px;
    background: black;
    color: white;
    right: 0px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    z-index: 9999;
    button{
        background: transparent;
        border: none;
        font-size: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        span{
            font-size: 18px;
        }
    }
}